<treasure-overlay-spinner active='spinner.active'>

<section class="fill_height" layout="row" flex="" ng-init="dashboardInit()">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
     <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
        <h3 class="md-toolbar-tools" ng-bind="authentication.user.fullName"></h3>
      </md-toolbar>
      <md-content layout-padding="">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button>
        <md-list>
            <md-list-item md-ink-ripple ng-repeat="item in menu" ng-click="navigate(item.link)">
              <md-item-content layout="row" layout-align="start center">
               
                <div class="inset">
                  <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <div class="inset">{{item.title}}</div>
                
              </md-item-content>
            </md-list-item>
         </md-list>
      </md-content>
    </md-sidenav>
   

    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAddDialog($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>

    <!-- <div ng-include="'/home/views/home.client.toolbar.html'" ></div> -->
    <div class="wrap" layout="column">

    	<toolbar></toolbar>
    
	    <md-content class="background-grey" flex="100" md-scroll-y>
          <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
            <ng-switch on="data.selectedIndex" class="tabpanel-container">
              <div role="tabpanel"
                   id="tab1-content"
                   aria-labelledby="tab1"
                   ng-switch-when="0"
                   md-swipe-left="next()"
                   md-swipe-right="previous()"
                   layout="column" layout-align="center center">

                  <md-card class="fill_width" ng-if="!projects.length">
                      <md-card-title > 
                        <md-card-title-text class="text-center" flex-50 >
                          <h4>You don't have any projects yet.</h4>
                        </md-card-title-text>
                      </md-card-title>
                  </md-card> 

                  <md-card class="fill_width" ng-repeat="project in projects | filter:search">
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">{{project.title}}</span>
                          <span class="md-subhead">Client : {{project.client}}</span>
                          <p>{{project.summary}}</p>
                        </md-card-title-text>
                        <md-card-title-media>
                          <div class="md-media-md card-media">
                            <img src="{{project.thumbnail}}">
                          </div>
                        </md-card-title-media>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="end center" ng-show="user._id == project.creator._id">

                        <md-button><a href="/#!/projects/{{project._id}}/edit">edit</a></md-button>
                        <md-button><a href="#" ng-click="deleteProject();">delete</a></md-button>
                      </md-card-actions>
                  </md-card> 

              </div>
              
          </ng-switch>
          
        </ui-view>
	    </md-content>

	</div>
</section>

</treasure-overlay-spinner>