<section ng-controller="ProjectsController">
<h1>New Project</h1>
<form ng-submit="create()" novalidate>
<div>
<label for="title">Title</label>
<div>
<input type="text" ng-model="title" id="title"
placeholder="Title" required>
</div>
</div>
<div>
<label for="summary">Summary</label>
<div>
<textarea ng-model="summary" id="summary" cols="30"
rows="10" placeholder="Summary"></textarea>
</div>
</div>
<div>
<input type="submit">
</div>
<div ng-show="error">
<strong ng-bind="error"></strong>
</div>
</form>
</section>