<section ng-controller="ProjectsController" ng-init="find()">
<h1>Projects</h1>
<ul>
<li ng-repeat="project in projects">
<a ng-href="#!/projects/{{project._id}}" ng-bind="project.title"></a>
<br>
<small ng-bind="project.created | date:'medium'"></small>
<small>/</small>
<small ng-bind="project.creator.fullName"></small>
<p ng-bind="project.summary"></p>
</li>
</ul>
<div ng-hide="!projects || projects.length">
No projects yet, why don't you <a href="/#!/projects/create">create one</a>?
</div>
</section>