<section data-ng-controller="ProjectsController" data-ng-
init="findOne()">
<h1 data-ng-bind="project.title"></h1>
<div data-ng-show="authentication.user._id == project.creator._id">
<a href="/#!/projects/{{project._id}}/edit">edit</a>
<a href="#" data-ng-click="delete();">delete</a>
</div>
<small>
<em>Posted on</em>
<em data-ng-bind="project.created | date:'mediumDate'"></em>
<em>by</em>
<em data-ng-bind="project.creator.fullName"></em>
</small>
<p data-ng-bind="project.summary"></p>
</section>