<div id="signup">   
          <h1>Sign Up for Free</h1>
          
  <form name="signupForm" action="/" method="post">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First Name</label>
          <input required name="fname" ng-model="signupForm.firstname" />
          <div ng-messages="signupForm.firstname.$error">
            <div ng-message-exp="['required']">
              This is required.
            </div>
          </div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input required name="lname" ng-model="signupForm.lastname" />
          <div ng-messages="signupForm.lastname.$error">
            <div ng-message="pattern">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="signupForm.emailaddress"
                 required ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="signupForm.email.$error">
            <div ng-message-exp="['required', 'pattern']">
              Must be a valid e-mail address.
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input name="password" ng-model="signupForm.passwd"
                 required minlength="8"/>
          <div ng-messages="signupForm.password.$error">
            <div ng-message-exp="['required', 'minlength']">
              Password must be atleast 8 characters.
            </div>
          </div>
        </md-input-container>
      </div>
          
<!--           <div class="top-row">
            <div class="field-wrap">
              <input type="text" placeholder="First Name *" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <input type="text"  placeholder="Last Name *" required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
          
            <input type="email" placeholder="Email *" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <input type="password" placeholder="Set a password *" required autocomplete="off"/>
          </div> -->
          
          <button type="submit" class="button button-block">Get Started</button>
          
          </form>

        </div>