<div id="signup">   
  <h1>Sign Up for Free</h1>
   <div layout="row">
      <a href="/oauth/facebook" class="icon-container">
          <img id="fb_icon" class="svg" src="main/img/round-facebook.svg"/>
      </a>  
      <a href="/oauth/twitter" class="icon-container">
          <img id="twitter_icon" src="main/img/round-twitter.svg"/>
      </a>  
      <a href="/oauth/google" class="icon-container">
          <img id="google_icon" src="main/img/round-google-plus.svg"/>
      </a>  
    </div>
  <form name="signupForm" ng-submit="signup(newUser)">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First Name</label>
          <input required name="firstName" ng-model="newUser.firstName" />
          <div ng-messages="signupForm.firstname.$error">
            <div ng-message-exp="['required']">
              This is required.
            </div>
          </div>
        </md-input-container>
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last Name</label>
          <input required name="lastName" ng-model="newUser.lastName" />
          <div ng-messages="signupForm.lastname.$error">
            <div ng-message="pattern">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Username</label>
          <input required name="username" ng-model="newUser.username" />
          <div ng-messages="signupForm.username.$error">
             <div ng-message-exp="['required']">
              This is required.
             </div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input name="email" ng-model="newUser.email"
                 required ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="signupForm.email.$error">
            <div ng-message-exp="['required', 'pattern']">
              Must be a valid e-mail address.
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input name="password" type="password" ng-model="newUser.password" required minlength="8"/>
          <div ng-messages="signupForm.password.$error">
            <div ng-message-exp="['required', 'minlength']">
              Password must be atleast 8 characters.
            </div>
          </div>
        </md-input-container>
      </div>
          
      <md-button type="submit" class="button fill_width md-raised md-primary">Get Started</md-button> 
  </form>
</div>