 <div id="login">   
    
    <h1>Welcome Back!</h1>
          
    <form name="signinform" action="/" method="post">
          
      <md-input-container class="md-block">
        <label>Username or Email</label>
        <input required name="username" ng-model="signinform.user" type="">
        <div ng-messages="signinform.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input required name="password" ng-model="signinform.passwd" type="password">
        <div ng-messages="signinform.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>   
     
          
      <p class="forgot"><a href="#">Forgot Password?</a></p>   
      <button class="button button-block">Log In</button>
          
    </form>

</div>