<!-- NAVIGATION -->
<!-- 	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">
	
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" ui-sref="#">Fluid Collab</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a ui-sref="index">Home</a></li>
		    <li><a ui-sref="about">About</a></li>
	      </ul>
	    </div>
	  </div>
	</nav> -->
 <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
        	<ng-md-icon icon="menu" style="fill:#fff"></ng-md-icon>
        </md-button>
        <h2>
          <span>Fluid Collab</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <ng-md-icon icon="favorite" style="fill:#fff"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <ng-md-icon icon="more_vert" style="fill:#fff"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>