
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: auto;
  background: transparent;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction:column;
  font-family: 'Titillium Web', sans-serif;
}

.fill_height{
  height: 100vh;
}

.fill_width{
  height: 100vw;
}

.wrap{
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #2196F3;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  color: #1976D2;
}

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

md-content{
  background-color: #fff;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.form {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#signup form{
  padding-top: 40px;
}

#signin form{
  padding-top: 40px;
}
.icon-container{
  margin: 9%;
}

.icon-container img{
  width: 100%;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #1976D2;
  color: #ffffff;
}
.tab-group .active a {
  background: #2196F3;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

#login-form h1 {
  text-align: center;
  color: #727272;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

#login-form input,#login-form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  color: #727272;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}


textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}