md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

.md-button{
  min-width: 20px;
}

.md-button.md-fab.md-fab-bottom-right {
  position: fixed;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

.md-subheader .md-subheader-inner{
  padding:8px;
}

md-bottom-sheet{
  position: fixed;
}

md-sidenav {
  fill: #737373;
  background-color: #fefefe;
}
md-sidenav ng-md-icon {
  top: 5px;
}
.user-avatar {
  border-radius: 99%;
}

#search_toobar{
  background-color: #fff;
  color:#000;
}

#search_toobar md-input-container{
  display: flex;
}

#search_toobar .md-button{
  color:#000;
}

#textInput{
  border:0px;
  max-width: 50% !important;
}

.vert_list md-item{
  display: block;
  position: relative;
}

.background-grey{
  background-color: #ddd;
}

.card-media {
  background-color: #999999; 
}

