<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/main/css/main.client.css">
	</head>
	<body>

	<div ng-include="'/main/views/main.client.navbar.html'" scope="" onload=""></div>


	<div class="container">
		<div class="row">
		 	<div class="col-lg-12 text-center">
				<h1><%= title %></h1>
			</div>
		</div>	
	</div>


	<section ui-view></section>


	<% if (user) { %>

	<a href="/signout">Sign out</a>

 	<% } else { %>
		<!-- <a href="/signup">Signup</a>
		<a href="/signin">Signin</a> -->

	<!-- <div ng-include="'/example/views/loginform.client.view.html'" scope="" onload=""></div> -->

 	<% } %>

 	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	


	<!-- Script Files -->
	<script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/lib/angular/angular.js" type="text/javascript" ></script>
	<script src="/lib/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>

	<!-- User module scripts -->
	<script type="text/javascript" src="/user/user.client.module.js"></script>
	<script type="text/javascript" src="/user/services/authentication.client.service.js"></script>

	<!-- Main module scripts -->
	<script type="text/javascript" src="/main/main.client.module.js"></script>
	<script type="text/javascript" src="/main/controllers/main.client.controller.js"></script>
	<script type="text/javascript" src="/main/config/main.client.routes.js"></script>

	<!-- Main module scripts -->
	<script type="text/javascript" src="/application.js"></script>

	</body>
</html>